{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <main>
        <div>
            <h1>Tasks</h1>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                <tbody>
                    {% for item in todolist.items.all %}
                        <tr>
                            <td>{{item.task}}</td>
                            <td>{{item.due_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </main>
    
</body>
</html>