{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            {{todolist.all}}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                <tbody>
                    {% for item in todolist_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' item.pk %}">{{ item.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    
</body>
</html>